<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-app-info"
    version="0.1.0">

    <name>AppInfo</name>
    <description>
        Access info about currently running app
    </description>
    <license>MIT</license>



    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/AppInfoPlugin.js" name="AppInfo">
       <clobbers target="cordova.plugins.appInfo" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AppInfo">
                <param name="android-package" value="de.sitewaerts.cordova.plugin.appInfo.AppInfoPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/de/sitewaerts/cordova/plugin/appInfo/AppInfoPlugin.java" target-dir="src/de/sitewaerts/cordova/plugin/appInfo/" />
    </platform>

    <platform name="ios">
        <plugins-plist key="AppInfo" string="AppInfo" />

        <config-file target="config.xml" parent="/*">
            <feature name="AppInfo">
                <param name="ios-package" value="AppInfo" />
            </feature>
        </config-file>

        <header-file src="src/ios/AppInfo.h" />
        <source-file src="src/ios/AppInfo.m" />
    </platform>

    <platform name="windows">
        <js-module src="src/windows/AppInfo.js">
            <merges target=""/>
        </js-module>
    </platform>

    <platform name="electron">
        <framework src="src/electron" />
    </platform>


    <platform name="browser">
        <js-module src="src/browser/AppInfo.js">
            <runs />
        </js-module>
    </platform>


    <hook type="before_build" src="hooks/write_app_info_json.js" />


</plugin>
